* {
    box-sizing: border-box;
}

:root {
    --body-color: #555;
    --lightGray: #f5f5f5;
    --mediumGray: rgb(226, 226, 226);
    --darkGray: #777;
    --black: #424242;
    --white: #ffffff;
  
}

body {
    font-family: sans-serif;
    color: var(--body-color);
}

a {
    text-decoration: none;
    color: var(--body-color);
}

/*  input, select, textarea {
    font-family: sans-serif;
    font-size: inherit;
} */

input, textarea {
    font-family: sans-serif;
    font-size: inherit;
    width: 100%;
    padding: 0.3rem 1rem;
}


button {
    font-size: inherit;
    padding: 0.2rem 0.8rem;
    cursor: pointer;
}

.cols {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
}


table {
    border-collapse: collapse;
    border-top: var(--line);
    width: 100%;
    box-shadow: 0px 1px 3px var(--mediumGray);
    background: var(--white);
  }
  
  th,
  td {
    padding: 0.5rem 1rem;
    border-bottom: var(--line);
  }
  
  th {
    background: var(--mediumGray);
    text-align: left;
  }
  
  tr {
    background: var(--white);
  }
  
  tr:hover {
    background: var(--lightGray);
  }
  
  table td.row {
    display: grid;
    grid-gap: 0.3rem;
  }
  